
<div class="container">
	<div class="menuPage">
		<ul>
			<a href="http://dentsystem.com/admin/cliente/cadastrar">{<li class="cadastrar">}Cadastrar</li></a>
			<a href="http://dentsystem.com/admin/cliente/lista">{<li class="lista">}Listar</li></a>
			<a href="http://dentsystem.com/admin/cliente/buscar">{<li class="buscar">}Buscar</li></a>
		</ul>
	</div>

	
	<div class="cliente">
		{<div class="msg"></div>}

		{clienteConteudo}

		<div class="clear"></div>
	</div>

	<div class="clear"></div>
</div>
