<section class="container lista">
	<header>
		<h1>Lista de clientes cadastrados</h1>
	</header>

	<div class="topoLista">
		<ul>
			<li class="itemId">Registro</li>
			<li class="itemName">Nome</li>
			<li class="itemPhone1">Telefone</li>
			<li class="itemEmail">E-mail</li>
			<li class="itemAction">Ação</li>
		</ul>
	</div>
	
	<div class="contentLista">
		<ul class="{backgroundRow}">
			<li class="itemId">{cliente_id}</li>
			<li class="itemName">{cliente_name}</li>
			<li class="itemPhone1">{cliente_phone1}</li>
			<li class="itemEmail">{cliente_email}</li>
			<li class="itemVer">
				<a href="">
					<span class="btn btn-green">Ver</span>
				</a>
			</li>
			<li class="itemEditar">
				<a href="">
					<span class="btn btn-blue">Editar</span>
				</a>
			</li>
			<li class="itemExcluir">
				<a href="">
					<span class="btn btn-red">Excluir</span>
				</a>
			</li>
		</ul>
	</div>
</section>