<section class="contaner cliente">

    <header>
        <h1>Perfil</h1>
    </header>

    <br>

    <div>
        <p>
            <span><b>Id: </b>{{ $dataCliente['cliente_id'] }}</span>
        </p>
        <p>
            <span><b>Nome: </b>{{ $dataCliente['cliente_name'] }}</span>
        </p>
        <p>
            <span><b>RG: </b>{{ $dataCliente['cliente_rg'] }}</span>
        </p>
        <p>
            <span><b>CPF: </b>{{ $dataCliente['cliente_cpf'] }}</span>
        </p>
        <p>
            <span><b>Data de Nascimento: </b>{{ $dataCliente['cliente_nascimento'] }}</span>
        </p>
        <p>
            <span><b>Telefone 1: </b>{{ $dataCliente['cliente_phone1'] }}</span>
        </p>
        <p>
            <span><b>Telefone 2: </b>{{ $dataCliente['cliente_phone2'] }}</span>
        </p>
        <p>
            <span><b>Email: </b>{{ $dataCliente['cliente_email'] }}</span>
        </p>
        <p>
            <span><b>CEP: </b>{{ $dataCliente['endereco_cep'] }}</span>
        </p>
        <p>
            <span><b>Logradouro: </b>{{ $dataCliente['endereco_logradouro'] }}</span>
        </p>
        <p>
            <span><b>Número: </b>{{ $dataCliente['cliente_endereco_numero'] }}</span>
        </p>
        <p>
            <span><b>Complemento: </b>{{ $dataCliente['cliente_endereco_complemento'] }}</span>
        </p>
        <p>
            <span><b>Bairro: </b>{{ $dataCliente['endereco_bairro'] }}</span>
        </p>
        <p>
            <span><b>Cidade: </b>{{ $dataCliente['endereco_cidade'] }}</span>
        </p>
        <p>
            <span><b>Estado: </b>{{ $dataCliente['endereco_estado'] }}</span>
        </p>
        <p>
            <span><b>Pais: </b>{{ $dataCliente['endereco_pais'] }}</span>
        </p>
    </div>

</section>