<ul class="{backgroundRow}">
	<li class="itemId">{cliente_id}</li>
	<li class="itemName">{cliente_name}</li>
	<li class="itemPhone1">{cliente_phone1}</li>
	<li class="itemEmail">{cliente_email}</li>
	<li class="itemVer">
		<a href="http://dentsystem.com/admin/cliente/{cliente_id}/perfil-cliente">
			<span class="btn btn-green">Ver</span>
		</a>
	</li>
	<li class="itemEditar">
		<a href="http://dentsystem.com/admin/cliente/{cliente_id}/editar">
			<span class="btn btn-blue">Editar</span>
		</a>
	</li>
	<li class="itemExcluir">
		<a href="http://dentsystem.com/admin/cliente/{cliente_id}/excluir">
			<span class="btn btn-red">Excluir</span>
		</a>
	</li>
</ul>