<tr class="{backgroundRow}">
	<td class="itemId">{cliente_id}</td>
	<td class="itemName">{cliente_name}</td>
	<td class="itemPhone1">{cliente_phone1}</td>
	<td class="itemEmail">{cliente_email}</td>
	<td class="itemAcoes">
		<span>
			<a href="http://localhost/weydans/projetos/dentsystem/admin/cliente/{cliente_id}">
				<span class="btn btn-green">Ver</span>
			</a>
		</span>
		<span>
			<a href="http://localhost/weydans/projetos/dentsystem/admin/cliente/{cliente_id}/editar">
				<span class="btn btn-blue">Editar</span>
			</a>
		</span>
		<span>
			<a href="http://localhost/weydans/projetos/dentsystem/admin/cliente/lista?id={cliente_id}"
				onclick="return confirm('Dseseja realmente excluir cliente {cliente_name} permanentemente?')">
				<span class="btn btn-red">Excluir</span>
			</a>
		</span>
	</td>
</tr>