<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Dentista Login</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="../../app/view/css/boot.css" />        
    <link rel="stylesheet" href="../../app/view/css/style.css" />
    <link rel="stylesheet" href="../../core/assets/css/msg.css">	

</head>
<body>
    <div class="container bg-light">
        <div class="content login">
            <header>
                <h1>Login</h1>
            </header>	

            <main>
                <h1 class="ds_none">Formulário de Login</h1>

                {<div class="msg"></div>}

                <form class="form_login" name="form_login" action="" method="post">
                    <label>
                        <span>E-mail</span>
                        <input type="email" name="user_email" placeholder="Informe seu e-mail" value="{email}" />
                    </label>

                    <label>
                        <span>Senha</span>
                        <input type="password" name="user_pass" placeholder="Informe sua senha" value="{senha}" />
                    </label>
                    
                    <button class="btn btn-meddium btn-blue" />Entrar</button>
                </form>
            </main>

            <a href="#">Esqueci minha senha**</a>

        </div>
    </div>
</body>
</html>