<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8"/>
	<title>DentSystem</title>

	<!-- href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet"-->

	<link rel="stylesheet" href="http://dentsystem.com/core/assets/css/msg.css"/>
	<link rel="stylesheet" href="http://dentsystem.com/app/view/css/boot.css"/>
	<link rel="stylesheet" href="http://dentsystem.com/app/view/css/style.css" />

</head>
<body>
	<header class="container">
		<div class="bg-light topo">
			<div>
				<h1><span>D</span>entsystem</h1>
			</div>

			<div>
				<ul class="infoAction">
					<li class="bemVindo">Bem vindo(a)</li>
					<li class="nomeUser">Usuário da Silva</li>
					<li class="pipe">|</li>
					<li>
						<a href="http://dentsystem.com">
							<buton class="btn btn-white">Sair</buton>
						</a>
					</li>				
				</ul>
			</div>
		</div>
		
		<div class="container sidebar">
			<div class="logo bg-light">
				<img src="http://dentsystem.com/app/view/img/logo-desenvolve-web.png" alt="" title="">
			</div>

			<div class="userInfo">
				<img src="http://dentsystem.com/app/view/img/weydans.png" alt="" title=""/>
				<h1>Usuário da Silva</h1>
				<p>Super Admin</p>
				<div class="clear"></div>
			</div>

			<div class="navegacao">
				<p>Navegação</p>
			</div>
			
			<div class="mainMenu">
				<ul class="container">
					<li>
						<img src="http://dentsystem.com/app/view/icon/home.png" alt="" title="">
						<a href="http://dentsystem.com/admin/dashboard">Dashboard</a>
					</li>

					<li>
						<img src="http://dentsystem.com/app/view/icon/agenda.png" alt="" title="">
						<a href="#">Agenda</a>
					</li>

					<li>
						<img src="http://dentsystem.com/app/view/icon/clientes.png" alt="" title="">
						<a href="http://dentsystem.com/admin/cliente">Clientes</a>
					</li>

					<li>
						<img src="http://dentsystem.com/app/view/icon/procedimento.png" alt="" title="">
						<a href="#">Procedimentos</a>
					</li>
				</ul>
			</div>

		</div>
		
	</header>

