/*
* Arquivo responsável pelas configurações genericas de estilo do sistema,
* Configura parte estrutural, interação e estilização de cores.*
* @author Weydans Campos de Barros, 05/04/2019.
*/

/* 
   ===== CONFIGURAÇÃO GERAL DO SISTEMA =====
*/
*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    font-family: 'Lato', sans-serif;
    outline: none;
    letter-spacing: 1px;
}

ul { list-style: none; }
a { text-decoration: none; color: #09f; cursor: pointer;}
img{max-width: 100%; outline: none; border: none;}

form { width: 100%;}
fieldset { border: none; }
label { width: 100%; }
input,
textarea,
select { padding: 8px; display: block; width: 100%; margin-bottom: 15px; font-size: 1em;}
form span { display: block; margin-bottom: 6px; }

/* 
   ===== CLASSES BASE =====
*/
.fontzero { font-size: 0; }
.ds_none { display: none; }

.container{float: left; width: 100%;}
.content{width: 80%; float: left; margin: 0 10%;}

.clear{clear: both;}
.msg{font-size: 0.85em; padding: 8px; margin-bottom: 30px;}

/* 
   ===== BOTÕES =====
*/
.btn{
    display: block;
    float: left;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    color: #000;
    box-shadow: inset 1px 1px 2px rgba(255,255,255,0.5);
}

.btn-large{padding: 9px 35px; font-size: 1.2em;}
.btn-meddium{padding: 7px 25px; font-size: 1em;}
.btn-smal{padding: 4px 15px; font-size: 0.9em;}

.btn-red{background: #ff7777; color: #fff; border: 1px solid #e66;}
.btn-red:hover{background: #f88; color: #fff; border: 1px solid #f77;}
.btn-green{background: #00dd77; color: #fff; border: 1px solid #0c6;}
.btn-green:hover{background: #0e8; color: #fff; border: 1px solid #0d7;}
.btn-blue{background: #0099ff; color: #fff; border: 1px solid #08e;}
.btn-blue:hover{background: #0af; color: #fff; border: 1px solid #09f;}
.btn-dark-blue{background: #03f; color: #fff; border: 1px solid #02e;}
.btn-dark-blue:hover{background: #04f; color: #fff; border: 1px solid #03f;}
.btn-white{background: #fff; color: #999; border: 1px solid #ddd;}
.btn-white:hover{background: #ccc; color: #fff; border: 1px solid #bbb; text-shadow: 1px 1px 2px #666;}
.btn-gray{background: #f7f7f7; color: #777; border: 1px solid #c9c9c9;}
.btn-gray:hover{background: #f4f4f4; color: #666; border: 1px solid #bbb;}

/*
   ===== PALETA DE CORES =====
*/
.bg-blue{background: #09f; color: #fff;}
.bg-light{background: #F4F5F7; color: #949494;}
.bg-green{background: #00A67C; color: #fff;}
.bg-gray-light{background: #f2f2f2; color: #999999;}











